.myTestConteinerOne {
    border: 2px solid darkred;
    max-width: 600px;
    text-align: center;
}
.MyBlackContainer{
    border: 5px solid black;
    max-width: 300px;
    margin: 20px;
    text-align: center;
}